/*style for navbar*/
.navbar-default {
background-color: rgba(37,232,232,0);
border-color: rgba(37,232,232,0);
}
.navbar-default .navbar-brand {
color: #140b0b;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
color: #f50404;
}
.navbar-default .navbar-text {
color: #140b0b;
}
.navbar-default .navbar-nav > li > a {
color: #140b0b;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #f50404;
}
.navbar-default .navbar-nav > a, .navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav > a:focus {
color: #f50404;
background-color: rgba(255,240,86,0);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #f50404;
background-color: rgba(255,240,86,0);
}
.navbar-default .navbar-toggle {
border-color: rgba(37,232,232,0);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: rgba(255,240,86,0);
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #140b0b;
}
.navbar-default .navbar-collapse,.navbar-default .navbar-form {
border-color: #140b0b;
}
.navbar-default .navbar-link {
color: #140b0b;
}
.navbar-default .navbar-link:hover {
color: #f50404;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #140b0b;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #f50404;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > a, .navbar-default .navbar-nav .open .dropdown-menu > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > a:focus {
	color: #f50404;
	background-color: rgba(255,240,86,0);
	}
}